// Background
$primary_background: rgba(0,40,104, .1);
$secondary_background: #fff;
$header_background: #002868;
$footer_background: #294368;

// Text
$primary_text: #3c3c44;
$light_text: #50505b;
$very_light_text: #a3a3ca;
$header_text: #002868;
$active_text: #FFD700;
$reversed_text: #ffffff;

// Splash
$primary_splash: #BF0A30;
$secondary_splash: #FFD700;

// Buttons
$btn_primary: #002868;
$btn_secondary: #fff;
$btn_primary_hover: #294368;
$btn_secondary_hover: #F5F5F5;

// Table
$table_row: rgba(0,40,104, .1);
$table_header: rgba(0,40,104, .50);

// Borders
$primary_border: #002868;
$secondary_border: #4A4A4A;
$reversed_border: #fff;
