@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700|Alex+Brush');

body{
  font-family: 'Hind Siliguri', sans-serif;
}
h1{
  border-bottom: solid 1px $primary_border;
}
h2{
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: $header_text;
  border-bottom: solid 1px $primary_border;
  padding: 20px;
  margin: 0px 200px 50px;
  font-size: 1.7rem;
}

.btn, .btn-large, .btn-small{
  border-radius: 0px;
  &.btn-primary{
    background-color: $btn_primary;
    border: solid 1px $btn_primary;
    &:hover{
      background-color:$btn_primary_hover;
    }
  }
  &.btn-secondary{
    background-color: $btn-secondary;
    color: $primary_text;
    border: solid 1px $primary_text;
    &:hover{
      background-color:$btn_secondary_hover;
    }
  }
  &.btn-block{
    width:100%;
  }
}
.page-wrapper{
  background-color: $primary_background;
}
section{

  display: flex;
  justify-content: center;
  padding: 20px;
  &.title-section{
    text-align: center;
    h1{
        margin-bottom:0px;
        font-size:3em;
        text-align: center;
        text-transform: capitalize;
        padding: 20px 10px;
        color: $header_text;
    }
    p{
        color:$light_text;
    }
  }
}