@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700|Alex+Brush');

body{
  font-family: 'Hind Siliguri', sans-serif;
}
h1{
  border-bottom: solid 1px $primary_border;
}
h2{
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: $header_text;
  border-bottom: solid 1px $primary_border;
  padding: 20px;
  margin: 0px 200px 50px;
  font-size: 1.7rem;
}

.btn, .btn-large, .btn-small{
  border-radius: 0px;
  &.btn-primary{
    background-color: $btn_primary;
    border: solid 1px $btn_primary;
    &:hover{
      background-color:$btn_primary_hover;
    }
  }
  &.btn-secondary{
    background-color: $btn-secondary;
    color: $primary_text;
    border: solid 1px $primary_text;
    &:hover{
      background-color:$btn_secondary_hover;
    }
  }
  &.btn-block{
    width:100%;
  }
}
.page-wrapper{
  background-color: $primary_background;
}
section{

  display: flex;
  justify-content: center;
  padding: 20px;
  &.title-section{
    text-align: center;
    h1{
        margin-bottom:0px;
        font-size:3em;
        text-align: center;
        text-transform: capitalize;
        padding: 20px 10px;
        color: $header_text;
    }
    p{
        color:$light_text;
    }
  }
}
.hide{
  display:none;
}
.modal-backdrop{
  transition: opacity .25s ease-in-out;
  background-color:rgba(0,0,0,.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 2rem auto;
  pointer-events: none;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}