@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700|Alex+Brush');

body{
  font-family: 'Hind Siliguri', sans-serif;
}
h1{
  border-bottom: solid 1px $primary_border;
}
h2{
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: $header_text;
  border-bottom: solid 1px $primary_border;
  padding: 20px;
  margin: 0px 200px 50px;
  font-size: 1.7rem;
}

.btn, .btn-large, .btn-small{
  border-radius: 0px;
  &.btn-primary{
    background-color: $btn_primary;
    border: solid 1px $btn_primary;
    &:hover{
      background-color:$btn_primary_hover;
    }
  }
  &.btn-secondary{
    background-color: $btn-secondary;
    color: $primary_text;
    border: solid 1px $primary_text;
    &:hover{
      background-color:$btn_secondary_hover;
    }
  }
  &.btn-block{
    width:100%;
  }
}
.page-wrapper{
  background-color: $primary_background;
}
section{

  display: flex;
  justify-content: center;
  padding: 20px;
  &.title-section{
    text-align: center;
    h1{
        margin-bottom:0px;
        font-size:3em;
        text-align: center;
        text-transform: capitalize;
        padding: 20px 10px;
        color: $header_text;
    }
    p{
        color:$light_text;
    }
  }

  &.table-section{
    display:flex;
    justify-content: center;
    padding: 20px;
    .table{
      width:80%;
      max-width:1024px;
      border: 1px solid $primary_border;
      background-color: $secondary_background;
      margin-bottom:0px;
      thead{
        tr{
          th{
            background-color: $table_header;
            color: $reversed_text;
            border-bottom: 1px solid $primary_border;
            border-top: 1px solid $primary_border;
            &+th{
              border-left: 1px solid $primary_border;
            }
            &:last-child{
              text-align:right;
            }
          }
        }
      }
      tbody{
        tr{
          &:nth-child(odd){
            background-color: $table_row;
          }
          td{
            color: $light_text;
            background-color: transparent;
            &+ td { 
              border-left: 1px solid $primary_border; 
            }
            span{
              display: inline-block;
              &.time_container{
                margin-left:10px;
              }
              &:last-child{
                &:not(.time_container){
                  float: right;
                }
              }
              &.copy_container{
                width: 24px;
                height: 24px;
                border-radius: 2px;
                text-align: center;
                border: solid 1px transparent;
                transition: background-color .25s ease-in-out;
                transition: color .25s ease-in-out;
                cursor: pointer;
                &:hover{
                  background-color: $secondary_splash;
                  color: $reversed_text;
                  border-color: $reversed_text;
                }
              }
              &.address_container{
                transition: border-bottom .25s ease-in-out;
                border-bottom: solid 1px transparent;
                cursor: pointer;
                &:hover{
                  border-bottom: solid 1px $secondary_splash;
                }
              }
            }
            strong{
              display: inline-block;
              &:last-child{
                float: right;
              }
            }
          }
        }
      }
    }
  }
}